%section
  %h1 Welcome to Salesflip Help!

  %p.note PENDING TRANSLATION

  %p.note
    This help section is a work-in-progress. Have something you think should
    be documented here but isn't? Let us know!

  %h2 Tutorials

  %dl
    %dt
      %h3= link_to "Making your first call", "/help/first_call"
    %dd
      This will step you through the process of contacting a lead and tracking
      it's progress through it's various states.

    %dt
      %h3= link_to "Working from a campaign", "/help/working-from-a-campaign"
    %dd
      Working on a particular campaign today (or even this week)? This tutorial
      shows you the easiest way to manage your leads when working on a
      campaign.
