%section
  %h1 Willkommen bei der Salesflip-Hilfe

  %p.note
    Diese Hilfeseite soll nach Bedarf weiter ausgebaut werden in Zukunft. Bitte
    lasst uns wissen, wenn ihr denkt, dass hier noch etwas fehlt!

  %h2 Anleitungen

  %dl
    %dt
      %h3= link_to "Wie mache ich meinen ersten Anruf?", "/help/first_call"
    %dd
      Hier wirst du durch die verschiedenen Schritte geleitet, wie du deinen
      ersten Lead kontaktierst, seinen Status verfolgst und den Lead bearbeiten
      kannst.

    %dt
      %h3= link_to "Wie arbeite ich effektiv an einem Auftrag?", "/help/working-from-a-campaign"
    %dd
      Arbeitest du an einem bestimmten Auftrag heute (oder diese Woche)? Diese
      Anleitung zeigt dir den schnellsten Weg um deine Leads zu verwalten, wenn
      du an einem Auftrag arbeitest.
