%section
  %h1 Wie arbeite ich effektiv an einem Auftrag?

  %p
    Wenn du auf die Leads-Seite gehst, siehst du alle dir zugewiesenen Leads.

  %p
    Wenn du aber einem bestimmten Auftrag hast, dann willst du gar nicht alle
    Leads sehen - du willst nur die Leads für diesen bestimmten Auftrag sehen?
    Kein Problem.

  %p
    Unter den Links, die dich zu den Leads eines bestimmten Status führen,
    siehst du noch folgende Links:

  %ul
    %li
      <strong>"Selbst erstellt"</strong>, für die Leads die du selbst angelegt
      hast

    %li
      und ein Link für alle Kampagnen, die dir zugewiesen wurden, wie
      <strong>Krankenhäuser</strong>,...

= image_tag "help/working-from-a-campaign/new-leads.png", :width => 800

%section
  %p
    Angenommen dir wurde eine Finanz-Auftrag zugewiesen, siehst du folgendes,
    wenn du auf den Link <strong>"Finanzauftrag"</strong> klickst:

= image_tag "help/working-from-a-campaign/new-finance-leads.png", :width => 800

%section
  %p
    Jetzt siehst du, dass deine Leads-Liste gefiltert wurde und du nur die
    neuen Leads des Finanzauftrags siehst. Sobald du einmal die Liste filterst,
    bleibt sie auch so: du siehst auch die Leads mit einem anderen Status aus
    der Kampagne. Ihr könnt im Salesflip frei navigieren, wenn ihr zurückgeht
    auf die Leadsseite seht ihr immer noch die Leads dieser bestimmten Kampagne
    und müsst nicht nochmal aufs Neue filtern.

  %p
    Wenn du fertig bist mit diesem Auftrag, dann klickst du einfach auf das
    <strong>"x"</strong> neben dem Auftragsnamen um den Filter zu löschen. So
    kehrst du übrigens auch zurück zu deiner ursprünglichen Leads-Seite.
