%section
  %h1 Working from a Campaign

  %p
    When you visit the leads page, you'll see all new leads assigned to you.

  %p
    But when you're working on a campaign, you don't want to see all of your
    assigned leads -- you just want to see the leads for that campaign. No
    problem!

  %p
    Underneath the links to see leads with a particular status, you'll see
    a few more links:

  %ul
    %li
      <strong>"Self-generated"</strong>, for the leads that you've generated
      yourself.

    %li
      And then a link for each campaign you've been assigned to, such as
      <strong>Hospitals</strong>, <strong>Email Blast</strong>, etc.

= image_tag "help/working-from-a-campaign/new-leads.png", :width => 800, :height => 384

%section
  %p
    Let's say that you've been assigned to the Finance campaign. If you
    followed the link for <strong>Finance Campaign</strong>, then you'd
    see this:

= image_tag "help/working-from-a-campaign/new-finance-leads.png", :width => 800

%section
  %p
    You can see that the list of leads has now been filtered, and only includes
    new leads from the finance campaign. And once you've filtered by a
    campaign, it will remain filtered: you can view leads in other states from
    that campaign; you can even leave the leads page, and when you return
    you'll still see leads from that campaign.

  %p
    When you're done with the campaign, just click the <strong>"x"</strong>
    next to the campaign's name to remove the filter!
