#mark_as_duplicate
  %h4 Ist das ein Duplikat?
  %p
    Wenn ja, kannst Du den Button
    = link_to "Vermerke als Duplikat", duplicate_lead_path, :method => :put
    anklicken und der Administrator wird sich es anschauen.
