%h2.title
  Infomail Templates
  = add_new "New", new_infomail_template_path

%table
  - @infomail_templates.each do |template|
    %tr
      %td= link_to template.name, infomail_template_path(template)
