%h2.title
  Campaigns
  = add_new t(:add_campaign), new_campaign_path

.campaigns
  - @campaigns.each do |campaign|
    %dl.item
      %dd
        = link_to campaign.name, campaign
        = render :partial => 'campaigns/date_range', :locals => { :campaign => campaign }
