#on_call
  background-color: rgba(0, 0, 0, 0.8)
  color: #eee
  padding: 20px
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  z-index: 10
  a
    color: #fff
    font-weight: bold
  p
    font-size: 1em
    margin: 0

hr
  border: 0
  border-bottom: 1px solid #ddd
  margin: 1em 0

#overlay
  background-color: rgba(0, 0, 0, 0.6)
  height: 100%
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 1000

.call_box
  background-color: #fff
  position: fixed
  top: 50%
  left: 50%
  margin-left: -270px
  margin-top: -220px
  overflow: visible
  padding: 15px 30px 30px 30px
  width: 480px
  z-index: 1001

.call_box .actions
  clear: both
  overflow: auto
  text-align: center

.call_box .actions button:first-child
  display: block
  float: left

.call_box .actions button:last-child
  display: block
  float: right

.call_box ol
  line-height: 2em

.call_box ul
  line-height: 2em
  list-style: none
  margin: 0
  padding: 0

.call_box .close
  color: #ccc
  display: block
  font-family: arial
  font-size: 1.2em
  font-weight: bold
  width: 20px
  position: absolute
  right: -24px
  top: -24px
  text-decoration: none

.call_box .close:hover
  color: #fff

button img
  height: 13px

button[disabled]
  background: #ddd
  font-style: italic

a.disabled
  color: #999
  font-style: italic

div#main .call_box
  h3
    cursor: auto
    margin: 0

.call_box
  padding: 30px
  fieldset
    background: none
    border: 0
    margin-bottom: 10px
    padding: 0
    label
      margin-top: 10px

  h3
    cursor: auto
    margin: 0
  h4
    margin: 0
    small
      color: #ccc
    span
      font-size: 0.8em
      text-transform: uppercase
      padding: 2px 8px
      margin-right: 5px
      &.no-source
        +task-category(#cccccc)
      &.call, &.new, &.lead, &.prospecting, &.infomail_sent
        +task-category($call)
      &.email, &.contacted, &.contact, &.analysis, &.offer_requested
        +task-category($email)
      &.follow-up, &.converted, &.account, &.presentation, &.offer_sent
        +task-category($follow_up)
      &.lunch, &.rejected, &.task, &.closed_lost
        +task-category($lunch)
      &.meeting, &.comment, &.final_review, &.appointment_made
        +task-category($meeting)
      &.money, &.closed_won, &.campaign
        +task-category($money)
      &.presentation, &.negotiation
        +task-category($presentation)
      &.trip
        +task-category($trip)
