div#main .contact_with_assets
  small.timestamp
    float: right
    font-size: 11px
  h3.toggler
    width: 99%
    padding-left: 1%
    padding-right: 0px
    small
      font-size: 12px
      font-weight: normal
      padding-left: 20px
    ul.actions
      position: relative
      top: -3px
      right: 8px
      li input
        +silver-button
        padding: 0px 5px
        font-weight: normal
  .toggle
    background: #ECF3F4
    border: 1px solid #c7daf0
    +clearfix
    width: 100%
  .contact-avatar
    float: left
    margin-right: 1%
    img
      height: 48px
      width:  48px
  .heading, .details
    clear: both
  ul.actions
    margin-top: 0em
    margin-bottom: 7px
  label
    font-size: 12px
  h4
    display: inline
    font-size: 14px
  .info
    +clearfix
    float: left
    width: 98%
    padding-top: 1%
    padding-left: 1%
    padding-bottom: 12px
  .icon
    border: 2px solid $link
    +border-radius(2px)
    width: 50px
  h5
    border-bottom: 3px solid #dadbd0
    color: #808079
    font-size: 12px
    margin: 12px 0 0 0
    padding-bottom: 2px
    a
      float: right
.details
  border: 1px solid #c7daf0
  +clearfix
  color: #999591
  font-size: 12px
  padding: 12px
  background: #fff
  margin-bottom: 8px
  position: relative
  ul.actions
    float: right
  small.timestamp
    position: absolute
    bottom: 7px
    right: 7px
  .add
    padding-top: 8px
  .half
    width: 43%
    float: left
    dl
      +dl-horizontal(30%, 70%)
      margin: 0px
      dt, dd
        margin-bottom: 5px
  dl.item.task dd
    width: 84%

//----------------------------------------------------
// Tasks
//----------------------------------------------------
body#accounts div#main .contact_with_assets div.item span.actions, body#accounts dl.item
  dd
    input[type="submit"]
      &.delete
        color: $orange
        &:hover
          color: black
    span.actions
      width: 5.4em
    span.item_name span.save
      right: 5.4em

//----------------------------------------------------
// Comments
//----------------------------------------------------
.contact_with_assets form
  font-size: 12px
  input[type="submit"]
    font-size: 12px
.inline-comment, .add-comment
  background: #FFFBE0
  border: 1px solid #DBDCB6
.add-comment
  padding: 10px
body .submit
  +clearfix
  padding-top: 12px
  float: right
  input[type="submit"]
    padding: 2px 4px